<div class="card_index mx-2" data-dog-name="<%= dog.name %>" data-dog-description="<%= dog.description %>" data-action="click->home#displayDog">
  <%= image_tag dog.photos.all[0], alt: "Dog picture", class: "card-img img-fluid" %>
</div>
